html{
    background-color: black;   
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    margin:0 auto;
    width:485px;  
}

.about h2, .about p{
    color:black;
    margin-left: 5px;
    margin-right:5px ;
  
}
p {
    font-size: 1.25em;
line-height: 30px;
}

figcaption, label, input, small {
    font-size: 1em;}

nav{
    background-color: black;
    padding:50px auto;
    text-align: center;
}
nav ul{
    list-style-type: none;
padding: 30px;
}
nav li{
    display: inline;
    margin:auto 5px;

}

nav a {
    font-size: 1.5em;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
   
}
nav li a{
    text-align: center;
}
[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border: solid 2px white;
    padding:2px;
}
main{
    background-color: white;
}

h1 {
    font-size: 3em;
    color:#007d7b;
    background-color:white;
    text-align: center;
    text-transform: uppercase;
    margin:0;
    height:45px;
}


h2 {
font-size: 2em;
text-transform: uppercase;
margin:0 auto;
text-align: center;
}

/*image styles*/
img{
    margin:0 auto;
    width:400px;
    height: auto;
}
.images img{
    z-index:1;
margin:8px;
}
figure{
    text-align: center;
}
.image figcaption{
    z-index: 2;
}
.images figcaption[id*="w"]{

    color:white;
}
.images figcaption[id*="b"]{
    color: black;
}
.images figcaption[id*="t"]{
   position: relative;
    bottom:240px;
    margin:0 auto;
}
.images figcaption[id*="u"]{
    position: relative;
    margin: 0 auto;
    bottom: 40px;
}


form{
    background-color: black;
    color:white;

}
form h2{
    padding-top: 10px;
}
form p{
    text-align: center;
    width:450px;
}
::placeholder{
    color: #007d7b;
text-transform: uppercase;
font-weight: bold;
}
input{
    width: 90%;
    padding: 6px 10px;
    margin:0;   
}
label{
    text-transform: uppercase;
}

input form{
    background-color: white; 
    
}
input[type=submit]{
    background-color: #007d7b;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    width:150px;
    border-radius: 10px;
    border: none;
    margin:0 auto;
    float: none;
}
.button{
    text-align: center;
    margin-bottom: 0;
}
.form div{
    margin-top:15px;
}
footer {
    text-transform: uppercase;
    color:white;
    background-color: black;
    text-align: center;
    margin:0 auto;
    padding:5px;
    padding-top: 50px;
    
}

   @media screen and (min-width:880px) and (max-width:1300px){

    h1{
       text-align: left; 
    }
    body{
        width:880px;
    }
    form p{
        width:100%;
    }
    form input{
        width:100%;
    }
    input[type=submit]{
        width:400px;

    }
nav li{
    justify-content: center;
}
.images {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
    margin: 0 auto;
    justify-content: center;
    height: fit-content;
}
   }
   @media screen and (min-width:1300px){
    h1{
        text-align: left; 
     }
     body{
         width:1300px;
     }
     form p{
         width:100%;
     }
     form input{
         width:100%;
     }
  
     input[type=submit]{
         width:600px;
 
     }
     nav{
        text-align: right;
     }
     .images{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
     width: 1300px;
        margin: 0 auto;
        justify-content: center;
        height: fit-content;
    }
   }
 